<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Story 6</title>
  </head>
  <body>
      <div class="container">
            <h1 class="text-center">Hello world</h1>
            <form action="{% url 'landingpage:tambah_status' %}" method="POST" class="d-flex justify-content-center flex-column">
            <table class="table d-flex justify-content-center">
                {%csrf_token%}
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit" class="w-25 m-auto"/>
            </form>

            <table class="table table-striped text-center">
                <thead>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Waktu</th>
                </thead>
                <tbody>
                {%for data in data%}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        {{  data.status  }}
                    </td>
                    <td>
                        {{ data.waktu }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
