/* Prefixes */
:root {
  --background-color-higher: #fff;
  --background-color-lower: #f5f5f5;
  --color-primary: #333;
  --color-secondary: #ff0000;
  --color-ternary: #205f7e;
}

/* * {
} */

body {
  background-color: var(--background-color-higher);
  transition: 0.4s ease;
}

/* Utility Classes */
.red-font {
  color: var(--color-secondary);
  transition: 0.4s ease;
}

.bg-gray {
  background-color: var(--background-color-lower);
  transition: 0.4s ease;
}

.line {
  height: 3px;
  background-color: var(--color-primary);
  width: 80%;
  margin: 1rem auto;
}

.bg-custom {
  background-color: var(--background-color-higher);
  transition: 0.4s ease;
}

.navbar-brand {
  color: var(--color-primary) !important;
  transition: 0.4s ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color-higher);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-secondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.badge {
  color: var(--color-primary);
}

/* Header */
.header-flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.header-image-wrapper {
  padding-top: 2rem;
  margin-left: 4rem;
  width: 100%;
}

.header-image-wrapper img {
  width: 100%;
  opacity: 1;
}

.header-flex-wrapper .text {
  text-align: justify;
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.header-flex-wrapper .text h1 {
  font-size: 4rem;
  text-align: left;
}

.header-flex-wrapper .text .subtitle {
  font-size: 0.8rem;
  color: var(--color-primary);
}

/* Section Title */

.lead-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 25px;
  color: var(--color-primary);
}

/* Red Line After Section Title */

.red-line {
  height: 3px;
  background: var(--color-secondary);
  width: 160px;
}

/* Accordion */
.faq-container {
  margin-bottom: 3rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  background-color: var(--background-color-lower);
  /* background-color: #333; */
  border-bottom: 1px solid #ccc;
  text-align: justify;
  cursor: pointer;
  transition: 0.4s;
}

.title-container p:last-child {
  transition: transform 0.4s;
}

.active p:last-child {
  transform: rotate(180deg);
  transition: transform 0.4s;
}

.active {
  background-color: var(--color-ternary);
  color: var(--background-color-higher);
}

.title-container:first-child {
  border-radius: 5px 5px 0 0;
}

.title-container p {
  margin: 0;
  padding: 1rem;
}

.desc {
  display: none;
  color: var(--color-primary);
  text-align: justify;
  background-color: var(--background-color-lower);
  border-bottom: 1px solid #ccc;
}

.desc p {
  margin: 0;
  padding: 1rem;
}

@media (max-width: 991px) {
  .header-flex-wrapper {
    display: block;
  }
  .header-image-wrapper {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
    margin: auto;
  }

  .header-image-wrapper img {
    width: 50%;
  }
}
